.login-form {
    max-width: 300px;
    background: white;
    padding: 20px 20px 0 20px;
    border-radius: 5px;
  }
 .login-form-forgot {
    float: right;
  }
.login-form-button {
    width: 100%;
  }

